{% extends 'quotes/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>Nicki Minaj Quote of the Day</h1>
    <h3>Welcome to the Quote of the Day application!</h3>
    <p>This application displays quotes by and images of <a href="https://www.nickiminajofficial.com">Nicki Minaj</a>.</p>
    <div class="bio">
        <p>Onika Tanya Maraj-Petty, also known as Nicki Minaj, was born in Trinidad. 
            She is a rapper, singer, and songwriter. She is often referred to as the "Queen of Rap"
            because she is known for her dynamic rap flow, witty lyrics, and musical versatility.</p>
    </div>
{% endblock %}

