 {% load static %}
<html>
    <head>
        <title>Quote of the Day</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="{% url 'quote' %}">Quote</a></li>
                <li><a href="{% url 'show_all' %}">Show All</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>

        {% block content %}
        <!-- fill in this section with specific page detail -->
        {% endblock %}

    </body>
</html>