{% extends 'quotes/base.html' %}

{% block title %}All Quotes{% endblock %}

{% block content %}
    <h1>Nicki Minaj Quote of the Day</h1>
    <h2>All Quotes by Nicki Minaj</h2>
    <div>
        <!-- Loop through the quotes and display each one -->
        {% for quote in quotes %}
        <div class="quote">
            <p>{{ quote }}</p>
        </div>
        {% endfor %}
    </div>

    <h2>All Images of Nicki Minaj</h2>
    <div>
        <!-- Loop through the images and display each one -->
        {% for image in images %}
        <div class="image-container">
            <img class="image" src="{{ image }}" alt="Related Image">
        </div>
        {% endfor %}
    </div>
{% endblock %}


